.homeContainer {
    min-height: 100vh;
    height: auto;
    overflow: visible;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.leaderboardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}