.HomeSidebar {
    width: 15%;
    height: 80%;
    background-color: rgb(0, 0, 78);
}

/* SCROLL AWARENESS */
.HomeSidebar {
  position: fixed;
  margin-top: 10px;
  
  /* align-self: flex-start; */
  /* top: 60px; default when header is visible */
  /* height: calc(100vh - 60px); */
  
  transition: top 0.2s ease-in-out;
}