.spinner {
  margin-right: 5rem;
}

.username {
  margin-right: 20px;
  max-width: 500px;
  justify-content: right;
  text-align: right;

  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: left;  
}

.loginButton {
  height: 80%;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 50px;
}

.profileDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  /* right: 0; */
  /* width: fit-content; */
  height: 100%;
  min-width: 100%;
  /* gap: 20%; */
  overflow-wrap: break-word;
}

.avatar {
  right: 0;
  height: 50px;
  min-width: 50px;
  /* min-height: 50px; */
  /* width: 100%; */
  /* margin-left: 40%; */
  /* aspect-ratio: 1/1; */
  /* height: 40px; */
  border-radius: 50%;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin-top: 10%;
  width: 12rem;
  background-color: rgb(87, 87, 87);
  box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.5);
  /* border-radius: 0.5rem; */
  z-index: 50;

  text-align: center;
}

.menuButton {
  font: inherit;
}
