.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(58, 74, 77, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);  
  color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90%;
  text-align: center;
  width: 320px;
  height: 235px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: unset;
  border: none;
}


.input:focus {
  outline: none;
  box-shadow: none;
  border: none; /* optional */
}

.error {
  color: red;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 1%;
  width: 10%;
  aspect-ratio: 1/1;

  color: gray;
  background: none;
  border: none;

  font-weight: 700;
  font-size: 2em;
}

.spinner {
  display: flex;
  justify-content: center;
}

.submitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backTextButton {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
}