.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  background: rgba(42, 52, 54, 0.5);
  /* border: 2px solid rgba(255, 255, 255, 0.2); */
  backdrop-filter: blur(10px);
  box-shadow: inset -1px -1px 5px 0 rgba(255, 255, 255, 0.5);
  color: inherit;

  padding: 2.3rem 2rem 3rem 2rem;
  border-radius: 20px;
  min-width: 330px;
  width: 330px;
  min-height: 212px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: unset;
  border: none;
  text-align: center;
  color: inherit;
  border-bottom: 1px solid white;
  margin: 0 0 5px;
}

.input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  text-align: center;
  color: inherit;
  border-bottom: 1px solid white;
}
input::placeholder {
  color: #969696;
  opacity: 1;
}

.error {
  color: rgb(255, 157, 157);
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 1%;
  width: 10%;
  aspect-ratio: 1/1;

  color: gray;
  background: none;
  border: none;

  font-weight: 100;
  font-size: 2em;
}

.spinner {
  display: flex;
  justify-content: center;
}

.submitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;


  
  font-weight: 700;
  padding: 0 25px;
  margin-top: 5px;
  
  background: rgba(58, 74, 77, 0);
  color: inherit;
  box-shadow: inset -1px -1px 5px 0 rgba(255, 255, 255, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.backTextButton {
  cursor: pointer;
  position: absolute;
  text-align: left;
  margin-top: 1em;
  bottom: 6%;
}