.mainButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rateButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rateButtons {
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    transition: font-size 0.2s ease, padding 0.2s ease;
    line-height: 120%;
    place-content: center;
}

.starEnlarge {
    font-size: 50px;
    padding: 0 0.5rem;
}

.actionButtonsContainer {
    display: flex;
    flex-direction: row;
    height: 3em;

    gap: 1.5rem;
}

.actionButtons {
    display: flex;
    height: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}