.mainButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rateButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 1rem; */

    
    /* transition: gap 0.1s ease; */
    /* transform: translateX(35px); */
}

.rateButtons {
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    transition: font-size 0.2s ease, padding 0.2s ease;
    line-height: 120%;
    place-content: center;
    
    /* padding: 0 1.25rem; */
}

/* .enlargeDiv {
    transform: translateX(0px);
    gap: 0;
    
    color: blue;
} */

.starEnlarge {
    font-size: 50px;
    padding: 0 0.5rem;
    /* transition: padding 0.1s ease; */
}



.actionButtonsContainer {
    display: flex;
    flex-direction: row;
    height: 3em;

    gap: 1.5rem;
}

.actionButtons {
    display: flex;
    height: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}